.first__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #f8fbff;
  text-align: center;
  width: 233px;
  height: 258px;
  p {
    font-family: "Roboto";
    font-size: 10px;
    font-weight: 300;
    line-height: 11.72px;
    text-align: center;
  }
  h2 {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
  }
  img {
    margin-bottom: 10px;
  }
}
.first__card:hover {
  cursor: pointer;
  background-color: #c7f2ff;
}

.main__div {
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
  padding-bottom: 150px;
}

.section__div {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .h2 {
    font-family: "Roboto";
    font-size: 35px;
    font-weight: 500;
    line-height: 41.02px;
    text-align: left;
  }
  .paragraph {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300;
    line-height: 17.55px;
    text-align: left;
    color: #828181;
  }
}

.last__btn {
  width: 140px;
  height: 48px;
  background-color: #34c9b6;
  color: #ffffff;
  border: none;
  border-radius: 6px;
}

.last__btn:hover {
  background-color: #ffffff;
  color: #2fb1a0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.main__section {
  display: flex;
  gap: 350px;
  justify-content: center;
  align-items: flex-start;
}
